name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test github-changelog-generator
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run github-changelog-generator
        uses: ./
        with:
          output: 'HISTORY.md'
      - name: Run github-changelog-generator with PAT token
        uses: ./
        with:
          output: 'HISTORY.md'
          token: ${{ secrets.PAT_TOKEN }}
